.bread {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;

  .big-title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
  }

}